/**
 * SPDX-FileCopyrightText: 2018 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.icon-fts-files {
	background-image: url('/apps/files_fulltextsearch/img/files.svg');
}

.files_header {
	height: 50px;
	border-bottom: solid 1px #efefef;
	position: relative;
}

.files_header_div {
	position: absolute;
	margin-left: 20px;
	color: #999;
	top: 50%;
	transform: translateY(-50%);
}

.files_result {
	height: 50px;
	position: relative;
	border-bottom: solid 1px #efefef;
}

.files_result_div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.files_div_checkbox {
	left: 0px;
	width: 50px;
}

.files_div_thumb {
	left: 50px;
	width: 32px;
	height: 32px;
	background-size: 32px;
	margin-left: 5px;
}

.files_div_name {
	left: 100px;
}

.files_result_title {
	color: #000;
}

.files_result_extract {
	font-size: 11px;
	color: #999;
	margin-top: -5px;
	margin-bottom: -5px;
	margin-left: 5px;
}

#info {
	color: #a5a5a5;
	font-size: 9px;
	margin-top: -3px;
}

.files_div_more {
	width: 50px;
	right: 280px;
}

.files_div_more SPAN {
	padding: 16px 23px 16px 23px;
	height: 16px;
	width: 16px;
	opacity: 0.4;
}

.files_div_size {
	right: 160px;
	width: 100px
}

.files_div_modified {
	right: 10px;
	width: 150px;
}

.files_result_item {
	color: #484848;
	background: #fff;
	padding: 5px;
}

.files_force_action_menu {
	right: 287px;
	top: 53px;
}